.dark {
  background-color: #222;
  color: #e6e6e6;
}

.dark {
  mark {
    color: #222;
    background-color: #e6e6e6;
  }

  a {
    color: #477dca;
  }

  .layout {
    .details {
      h4 {
        color : rgb(224, 117, 139);
      }
    }
  }

  .list-container {
    h3 {
      border-bottom: dashed 2px rgb(224, 117, 139);
    }
  }
}
